/* css */
body {
    background-color: #1369EB;
}
.message {
    padding: 15px 30px;
    width: 200px;
    text-align: justify;
    font-weight: bold;
    font-size: 50px;

}
.shadow {
    text-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

.lungs{
    text-align: center;
}
