/* css */
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

@font-face {
    font-family: 'Logo';
    src: url('Geogrotesque-Bd.woff') format('woff');
}
body{
    background-color: #009cde;
}

.hidden {
    font-family: 'Logo', serif;
    font-size: 120px;
    font-weight: 100;
    display: none;
}

.logo:hover + .hidden{
    display: block;
}

.hidden:hover{
    display: block;
    cursor: default;
}

a{
    text-decoration: none;
    color: black;
}

.much {
    top: 5%;
    left: 53%;
    position: fixed;
    color: rgba(255, 0, 0);
}

.sadness {
    top: 16.8%;
    left: 60%;
    position: fixed;
    color: rgba(255, 0, 0);
}

.strike{
    background-color: red;
    height: 15px;
    width: 275px;
    position: fixed;
}

.logo{
    display: block;
    top: 25%;
    left: 25%;
    width: 48%;
    height: 40%;
    position: fixed;
    background-image: url("../img/march-madness-logo.png");
    background-size: 100% 100%;
    z-index: -1;
}

.headline{
    background-color: white;
    height: 50px;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

.headline-p{
    font-family: 'Logo';
    color: black;
    padding: 0 40px;
    border-right: 3px solid #009cde;
    display: inline-block;
}